body {
    font-family: "宋体";
    padding-top: 50px;
    background-color: #EEEEEE;
}

.navbar, .navbar.navbar-default {
    background-color: #FFFFFF;
}

.navbar .navbar-nav > li > a,
.navbar .navbar-brand {
    color: #111111;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar .navbar-nav > li > a:hover {
    color: #333;
}

.navbar .navbar-brand {
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-tabs {
    background: inherit;
    border-bottom: none;
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover, 
.nav-tabs > li > a:focus {
    margin: 0 5px;
    color: #333 !important;
    padding: 5px 0px;
}

.nav-tabs > li.active > a {
    color: #4264d8 !important;
    border-bottom: 2px solid #4264d8 !important;
}

.btn-radius {
    border-radius: 18px;
}

.btn.btn-raised.btn-info {
    background-color: #4264d8;
}

.carousel-outer {
    background-color: #BBBBBB;
}

.carousel-inner > .item {
    height: 500px;
}

.carousel-indicators li {
    background-color: #FFFFFF
}

.carousel-indicators .active {
    border-color: blue;
    background-color: blue;
}

.panel-login {
    height: 264px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0, -50%);
}

.pie-title {
    color: #4264d8;
    font-size: 16px;
    font-weight: bold;
}

.pie-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100px;
}

.pie-content i {
    font-size: 12px;
}

.pie-content .media-heading {
    margin-bottom: 0px;
}

.pie-content h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.media {
    margin-top: 0px;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 70px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #30343e;
    overflow-y: auto;
}

.sidebar li {
    font-size: 18px;
}

.sidebar li i {
    color: #EEE;
    margin: 12px;
}

.sidebar > li > a:hover {
    text-decoration: none;
    background-color: #434750;
}

.sidebar .active {
    pointer-events: none;
    background-color: #eee;
}

.sidebar .active i {
    color: #30343e;
}

.table-btn a {
    margin: 0;
    padding: 0 20;
}

